affine==2.3.0
anyio==3.3.0
argon2-cffi==21.1.0
arrow==1.2.0
asgiref==3.5.0
asttokens==2.0.5
async-lru==1.0.2
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
bleach
branca==0.4.2
Brotli==1.0.9
cached-property==1.5.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer
click==8.0.1
click-plugins==1.1.1
cligj==0.7.2
colorama
comm
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
Django==4.2.9
entrypoints
exceptiongroup
executing
fastjsonschema
Fiona
folium
fonttools
fqdn
GDAL==3.7.0
geographiclib
geopandas
geopy
idna
importlib-metadata
importlib-resources
ipykernel
ipython
isoduration
jedi==0.18.0
Jinja2==3.0.3
joblib==1.1.0
json5==0.9.6
jsonpointer==2.1
jsonschema==4.3.3
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
kiwisolver==1.3.2
mapclassify==2.4.3
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mistune
munch==2.5.0
munkres==1.1.4
nbclient==0.5.10
nbconvert
nbformat==5.1.3
nest-asyncio
networkx==2.7.3
notebook==6.5.0
notebook_shim
numpy
osmnx
overrides==6.1.0
packaging==21.3
pandas==1.3.4
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==8.3.2
pkgutil_resolve_name
platformdirs==2.4.0
pooch==1.5.2
prometheus-client
prompt-toolkit
psutil==5.8.1
psycopg2==2.9.9
pure-eval
pycparser==2.21
Pygments==2.10.0
PyMySQL
pyparsing==3.0.7
pyproj==3.3.0
PySocks==1.7.1
python-dateutil==2.8.2
python-json-logger==2.0.2
pytz==2021.3
pywin32==306
pywinpty
PyYAML==6.0
pyzmq
rasterio==1.3.7
referencing==1.3.0
requests
rfc3339-validator
rfc3986-validator
rpds-py
Rtree
scikit-learn
scipy
Send2Trash
shapely
six
sniffio
snuggs==1.4.7
soupsieve==2.3.1
sqlparse
stack-data==1.0.2
terminado
threadpoolctl==3.1.0
tinycss2
tomli
tornado==6.1
traitlets==5.1.1
types-python-dateutil==2.8.3
typing-utils
typing_extensions==4.0.1
tzdata
unicodedata2
uri-template==4.1.1
urllib3
wcwidth
webcolors
webencodings
websocket-client
win-inet-pton
xyzservices
zipp==3.7.0