{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div id="map" class="sm-none col-md-12 border border-danger" style="height: 650px; width:1350px;position: relative; margin-top: 0;"></div>
<p>name:{{name}}</p>
<script>
    var latitude = {{ latitude }};
    var longitude = {{ longitude }};
    const name = '{{ name }}';
    console.log(latitude,longitude,name)
    var map = L.map('map').setView([latitude, longitude], 17);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
                    // Add a marker to the map
    marker = L.marker([latitude, longitude]).addTo(map);
    marker.bindPopup(name).openPopup();
         
</script>

{% else %}
<h1>Login</h1>
<form method="POST" action="{% url 'index' %}">
{% csrf_token %}
            <div class="mb-3">
          <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <br>
        <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <br>
        <button type="submit" class="btn btn-secondary">Login</button>
</form>

{% endif %}

{% endblock %}