<div class="d-flex flex-row justify-content-around" style="position: relative;">
    <div class="d-flex flex-row">
        <a class="btn btn-light btn-rounded  w-100 btn-outline-secondary m-0" data-bs-toggle="modal" data-bs-target="#recModal" style="border-radius: 30px;"><i class="bi bi-utensils" style="font-weight: bolder;">Resturants</i></a>
    </div>
    <div class="d-flex flex-row">
        <a class="btn btn-light btn-rounded w-100 btn-outline-secondary m-0" data-bs-toggle="modal" data-bs-target="#recModal" style="border-radius: 30px;"><i class="bi bi-book" style="font-weight: bolder;">Library</i></a>
    </div>
    <div class="d-flex flex-row">
        <a class="btn btn-light btn-rounded w-100 btn-outline-secondary m-0" data-bs-toggle="modal" data-bs-target="#recModal" style="border-radius: 30px;"><i class="bi bi-tree" style="font-weight: bolder;">Parks & Recreation</i></a>
    </div>
    <div class="d-flex flex-row">
        <a class="btn btn-light btn-rounded w-100 btn-outline-secondary m-0" data-bs-toggle="modal" data-bs-target="#recModal" style="border-radius: 30px;"><i class="bi bi-bank" style="font-weight: bolder;">Theater</i></a>
    </div>
    <div class="d-flex flex-row">
        <a class="btn btn-light btn-rounded w-100 btn-outline-secondary m-0" data-bs-toggle="modal" data-bs-target="#recModal" style="border-radius: 30px;"><i class="bi bi-trophy" style="font-weight: bolder;">Sports</i></a>
    </div>
    <div class="d-flex flex-row">
        <a class="btn btn-light btn-rounded w-100 btn-outline-secondary m-0" data-bs-toggle="modal" data-bs-target="#recModal" style="border-radius: 30px;"><i class="bi bi-briefcase" style="font-weight: bolder;">Admin</i></a>
    </div>
    <div class="d-flex flex-row">
        <a class="btn btn-light btn-rounded w-100 btn-outline-secondary m-0" data-bs-toggle="modal" data-bs-target="#recModal" style="border-radius: 30px;"><i class="bi bi-bus-front" style="font-weight: bolder;">Bustop</i></a>
    </div>
    <div class="d-flex flex-row">
        <a class="btn btn-light btn-rounded w-100 btn-outline-secondary m-0" data-bs-toggle="modal" data-bs-target="#recModal" style="border-radius: 30px;"><i class="bi bi-cash" style="font-weight: bolder;">ATM & Bank</i></a>
    </div> 
</div>
<div class="modal fade" id="recModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>